.container{
    max-width: fit-content;
    margin-left: 120px;
    background-color: #f5f5f5;
    overflow-x: hidden;
}
mat-toolbar{
    margin-left: 480px;
    max-width: fit-content;
}
mat-icon{
    cursor: pointer;
}
thead tr{
    background:  #999999;
}
tr{
    background: white;
}
.status{
    color: aqua;
    border-radius: 5px;
    text-align: center;
    width: 70px;
}
mat-paginator{
    margin-left: 400px;
    background: #f5f5f5;
    max-width: fit-content;
}