mat-tab-group{
    width: 97%;
    margin-left: 140px;
    margin-top: 50px;
}
.buttons{
    margin-right: 30px;
}
button{
    border-radius: 50px;
}
.tableStaff, .tablePermission{
    width: 96%;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 08);
}

.table{
    width: 96%;
    margin-top: 60px;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 08);
    
}
td .mat-icon{
    cursor: pointer;
}
mat-form-field{
    height: 70px;
    width: 150px;
    font-size: small;
    margin-top: 20px;
}
.example-full-width.search{
    width: 150px;
    height: 70px;
    margin-left: -400px;
}