<div class="head">
  <h3>Add Role</h3>
  <mat-icon mat-dialog-close>exit_to_app</mat-icon>
</div>

<form class="example-form" #f="ngForm" (ngSubmit)="addR(f)">
  <div class="firstLine">
    <mat-form-field class="example-full-width">
      <mat-label>*Role name:</mat-label>
      <input
        type="text"
        id="roleName"
        required
        #roleName="ngModel"
        name="roleName"
        matInput
        ngModel
      />
    </mat-form-field>
    <div class="space"></div>
    <mat-form-field class="example-full-width">
      <mat-label>Role description: </mat-label>
      <input
        type="text"
        id="roleDescription"
        required
        #roleDescription="ngModel"
        name="roleDescription"
        matInput
        ngModel
      />
    </mat-form-field>
  </div>

  <span> Role type: </span>
  <br />
  <label>
    <input
      [value]="1"
      [(ngModel)]="data2.roleType"
      name="roleType"
      type="radio"
      [checked]="isChecked"
    />

    systemrole
  </label>
  <br />

  <label>
    <input
      [value]="2"
      [(ngModel)]="data2.roleType"
      name="roleType"
      type="radio"
      [checked]="!isChecked"
    />storerole
  </label>

  <div *ngIf="data2.roleType == 1">systemrole</div>
  <div *ngIf="data2.roleType == 2">storerole</div>
  <div>
    <span> Role permission: </span>
    <br />

    <label>
      <input
        [value]="role.role1"
        [(ngModel)]="data2.role_permission"
        name="role_permission"
        type="radio"
        [checked]="isChecked1"
      />
      Store management
    </label>
    <br />
    <label>
      <input
        [value]="role.role2"
        [(ngModel)]="data2.role_permission"
        name="role_permission"
        type="radio"
        [checked]="!isChecked1"
      />
      System data
    </label>
    <br />

    <label>
      <input
        [value]="role.role3"
        [(ngModel)]="data2.role_permission"
        name="role_permission"
        type="radio"
        [checked]="!isChecked1"
      />
      System template
    </label>
    <br />

    <label>
      <input
        [value]="role.role4"
        [(ngModel)]="data2.role_permission"
        name="role_permission"
        type="radio"
        [checked]="!isChecked1"
      />
      System record
    </label>

    <div *ngIf="data2.role_permission == 1">Store management</div>
    <div *ngIf="data2.role_permission == 2">System data</div>
    <div *ngIf="data2.role_permission == 3">System template</div>
    <div *ngIf="data2.role_permission == 4">System record</div>
  </div>
  <div class="footer">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <div class="space"></div>
    <button mat-raised-button color="primary" [disabled]="f.invalid">
      Confirm
    </button>
  </div>
  <div class="alert alert-success" *ngIf="messageSuccess">
    {{ messageSuccess }}
  </div>
</form>
