<div class="navigation">
  <a class="navbar-brand">Lz Industries</a>
  <ul>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/DashboardClient/store">
        <mat-icon>store</mat-icon>
        <span>Store Overview</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/DashboardClient/StoredataClient">
        <mat-icon>storage</mat-icon>
        <span>Store data</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/DashboardClient/TemplateClient">
        <mat-icon>note</mat-icon>
        <span>Store Template</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/DashboardClient/GatewayClient">
        <mat-icon>router</mat-icon>
        <span>Gateway Management</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="/DashboardClient/DeviceClient">
        <mat-icon>devices</mat-icon>
        <span>Device Management</span>
      </a>
    </li>
  </ul>
</div>
