nav{
    position: relative;
    margin-left: 120px;
    padding-top: 50px;
}
.btn.btn-primary{
    width: 60px;
    height: 40px;
    text-align: center;
}
.btn.btn-primary span{
    position:fixed;
    margin-left: -20px;
    padding-left: 2px;
}
.cardBx{
    position: relative;
    width: 100%;
    box-shadow: 20px darkgrey;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-left: 120px;
    cursor: pointer;
}
.card:hover{
    width: 250px;
    border-color: blue;
}
.name{
    font-weight: bold;
}
.cardBx .card .card-body .material-icons,
.cardBx .card .card-body mat-slide-toggle{
    position: relative;
    cursor: pointer;
    margin-left: 170px;
}
mat-paginator{
    margin-right: 195px;
}
ul{
    padding: 0 0 0 0;
}