.container{
    max-width: fit-content;
    margin-left: 120px;
    background-color: #f5f5f5;
    overflow-x: hidden;
}
mat-toolbar{
    margin-left: 480px;
    max-width: fit-content;
}
button{
    border-radius: 50px;
    margin-right: 2px;
}
table{
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 10px;
    width: 99%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 08);
}
mat-icon{
    cursor: pointer;
}
thead tr{
    background:  #999999;
}
tr{
    background: white;
}
.status{
    color: aqua;
    border-radius: 5px;
    text-align: center;
    width: 70px;
}
mat-paginator{
    margin-left: 400px;
    background: #f5f5f5;
    max-width: fit-content;
}