<div class="navigation">
    <a class="navbar-brand">Lz Industries</a>
    <ul>

        <li class="nav-item">
            <a class="nav-link" routerLink="/storeManagement">
                <mat-icon>store</mat-icon>
                <span>Store management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/SystemData">
                <mat-icon>storage</mat-icon>
                <span>System data</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/templateManagement">
                <mat-icon>note</mat-icon>
                <span>Template Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/gatewayManagement">
                <mat-icon>router</mat-icon>
                <span>Gateway Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/deviceManagement">
                <mat-icon>devices</mat-icon>
                <span>Device Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/AuthorityManagement">
                <mat-icon>perm_identity</mat-icon>
                <span>Authority management</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/operationRecord">
                <mat-icon>fiber_smart_record</mat-icon>
                <span>System record</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/systemSettings">
                <mat-icon>settings</mat-icon>
                <span>System settings</span>
            </a>
        </li>
    </ul>
</div>
