<div class="navigation">
    <a class="navbar-brand">Lz Industries</a>
    <ul>

        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/storeManagement">
                <mat-icon>store</mat-icon>
                <span>Store management</span>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/SystemData">
                <mat-icon>storage</mat-icon>
                <span>System data</span>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/templateManagement">
                <mat-icon>note</mat-icon>
                <span>Template Management</span>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/gatewayManagement">
                <mat-icon>router</mat-icon>
                <span>Gateway Management</span>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/deviceManagement">
                <mat-icon>devices</mat-icon>
                <span>Device Management</span>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/AuthorityManagement">
                <mat-icon>perm_identity</mat-icon>
                <span>Authority management</span>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/operationRecord">
                <mat-icon>fiber_smart_record</mat-icon>
                <span>System record</span>
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" routerLink="/dashboard/systemSettings">
                <mat-icon>settings</mat-icon>
                <span>System settings</span>
            </a>
        </li>
    </ul>
</div>
