.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20;
    margin-left: 110px;
}
span{
    cursor: pointer;
    font-size: 1.75rem;
}
ul li a span{
    font-size: 1.75rem;
    border-radius: 70px;
    display: block;
}