
<div class="container">
    <div class="topbar">

        
        <span class="material-icons" style="margin-left: 20px;">
            reorder
        </span>

        <span class="material-icons" style="margin-left: 950px;">
            language
        </span>

        <button mat-button [matMenuTriggerFor]="menu">
            <span class="material-icons">
                account_circle
            </span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="btt"><p>Update Password</p></button>
            <button mat-menu-item class="btt"><p>Log Out</p></button>
        </mat-menu>

    </div>
</div>