<div class="head">
  <h3>Edit store</h3>
  <mat-icon mat-dialog-close>exit_to_app</mat-icon>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>*Store no</mat-label>
    <input type="number" matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>*Store name</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>*Store address</mat-label>
    <input matInput /> </mat-form-field
  ><br />

  Store image <img src="#" alt="" />
  <input type="file" />

  <div class="footer">
    <button mat-raised-button mat-dialog-close color="#808080">Cancel</button>
    <div class="space"></div>
    <button mat-raised-button color="primary">Confirm</button>
  </div>
</form>
