.head{
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 60px;
}
div{
    text-align: center;
}
.footer{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.space{
    width: 80px;
    height: auto;
}