<div style="margin-top: 10px" *ngFor="let item of dataobject">
  <ul>
    <li>S/N</li>
    <li>{{ item.sn }}</li>
  </ul>
  <ul>
    <li>Mac_address</li>

    <li>{{ item.mac_address }}</li>
  </ul>
  <ul>
    <li>battery_level</li>

    <li>{{ item.battery_level }}</li>
  </ul>

  <ul>
    <li>RSSI</li>

    <li>{{ item.RSSI }}</li>
  </ul>
  <ul>
    <li>remark</li>

    <li>{{ item.remark }}</li>
  </ul>
  <ul>
    <li>Online status</li>

    <li>{{ item.online_status }}</li>
  </ul>
  <button mat-raised-button color="primary" (click)="upgrade()">Upgrade</button>
  <div class="firstLine">Review</div>
</div>
