<div class="head">
    <h3>Device info</h3>
    <mat-icon mat-dialog-close>exit_to_app</mat-icon>
</div>
<div style="margin-top: 10px;">
    <ul>
        <li>Manufacturer</li>
        <li>Minew</li>
    </ul>
    <ul>
        <li>Battery</li>
        <li>100%</li>
    </ul>
    <ul>
        <li>Temperature</li>
        <li>25°C</li>
    </ul>
    <ul>
        <li>Running time</li>
        <li>3day 17hours 54minute</li>
    </ul>
    <ul>
        <li>Calibration range</li>
        <li>-59</li>
    </ul>
    <ul>
        <li>Firmware version</li>
        <li>v3.1.16</li>
    </ul>
    <ul>
        <li>Screen info</li>
        <li>4.2"(400*300) white/black/red</li>
    </ul>
    <button mat-raised-button color="primary" (click)="upgrade()">Upgrade</button>
    <div class="firstLine">
        Review
    </div>
    
</div>
