<div class="head">
  <h3>Import data</h3>
  <mat-icon mat-dialog-close>exit_to_app</mat-icon>
</div>
<div class="firstLine">
  *Upload file
  <input type="file" (change)="getfile($event)" />
  <div class="space"></div>
  <button mat-stroked-button color="primary" (click)="submitData()">
    Download file
  </button>
</div>
<div class="footer">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div class="space"></div>
  <button mat-raised-button color="primary">Confirm</button>
</div>
