<div class="container">
  <mat-toolbar>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>All tempates</mat-label>
        <mat-select>
          <mat-option value="one">Store tempates</mat-option>
          <mat-option value="two">System tempates</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>All sizes</mat-label>
        <mat-select>
          <mat-option value="one">Store tempates</mat-option>
          <mat-option value="two">System tempates</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>All colors</mat-label>
        <mat-select>
          <mat-option value="one">Store tempates</mat-option>
          <mat-option value="two">System tempates</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <span matPrefix></span>
      <input type="tel" matInput placeholder="Search" name="search" [(ngModel)]="search">
      <button matSuffix mat-button><mat-icon>search</mat-icon></button>
    </mat-form-field>

    <div>
      <button mat-raised-button class="radius" color="primary" (click)="add()">
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
  </mat-toolbar>

  <section>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
        style="padding: 10px"
      />
      <mat-card-content>
        <p style="font-weight: bold">11 copy</p>
        <small>4.2" (400*300, black and white, horizontal)</small>
        <mat-icon (click)="copy()" style="float: right">file_copy</mat-icon>
        <mat-icon (click)="supp()" style="float: right"
          >delete_outline</mat-icon
        >
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" style="margin-left: 40px">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
        style="padding: 10px"
      />
      <mat-card-content>
        <p style="font-weight: bold">11 copy</p>
        <small
          >4.2" (400*300, black and white, horizontal)
          <mat-icon style="float: right">file_copy</mat-icon>
          <mat-icon style="float: right">delete_outline</mat-icon>
        </small>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="margin-left: 40px">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
        style="padding: 10px"
      />
      <mat-card-content>
        <p style="font-weight: bold">11 copy</p>
        <small
          >4.2" (400*300, black and white, horizontal)
          <mat-icon style="float: right">file_copy</mat-icon>
          <mat-icon style="float: right">delete_outline</mat-icon>
        </small>
      </mat-card-content>
    </mat-card>
  </section>
</div>
