.container{
    margin-left: 120px;
    background-color: #f5f5f5;
    cursor: pointer;
}
mat-icon{
    cursor: pointer;
}
mat-toolbar{
    background-color: #f5f5f5;
}
mat-form-field{
    margin-right: 5px;
    height: 65px;
    width: 120px;
}
mat-form-field.search{
    height: 57px;
    margin-top: -10px;
}
.header{
    padding-top: 60px;
}
button{
    border-radius: 50px;
    margin-right: 5px;
}
.butt{
    margin-left: 380px;
    background-color: #f5f5f5;
}
table{
    margin-top: 80px;
    border-radius: 20px;
    margin-left: 10px;
    width: 99%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 08);
}