<div class="head">
    <h3 mat-dialog-title>Wifi firmware upgrade</h3>
    <mat-icon mat-dialog-close style="padding: 10px 0;">exit_to_app</mat-icon>
</div>

<form class="example-form">
    <mat-form-field mat-dialog-content appearance="fill" style="width: 350px;">
        <mat-label>*Firmware version</mat-label>
        <mat-select>
          <mat-option value="option">wifi version</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="footer" mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <div class="space"></div>
        <button mat-raised-button color="primary">Confirm</button>
    </div>
</form>