<div class="head">
    <h3>Copy Template</h3>
    <mat-icon mat-dialog-close>exit_to_app</mat-icon>
</div>

<form class="example-form">
    <mat-form-field class="example-full-width" aria-required="true">
        <mat-label>*Template name</mat-label>
        <input type="text" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 350px;">
        <mat-label>*Display size</mat-label>
        <mat-select>
            <mat-option value="option">4.2" (400*300)</mat-option>
        </mat-select>
        <mat-hint align="end"></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 350px;">
        <mat-label>*Optional color</mat-label>
        <mat-select>
            <mat-option value="option">Black and white</mat-option>
        </mat-select>
        <mat-hint align="end">Other colors will be available soon...</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 350px;">
        <mat-label>*Screen orientation</mat-label>
        <mat-select>
            <mat-option value="option">Horizontal</mat-option>
        </mat-select>
        <mat-hint align="end">Other orientation will be available soon...</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 350px;">
        <mat-label>*ESL Direction</mat-label>
        <mat-select>
            <mat-option value="option">Positive</mat-option>
            <mat-option value="option">Positive</mat-option>
        </mat-select>
        <mat-hint align="end">Other orientation will be available soon...</mat-hint>
    </mat-form-field>

    <div class="footer">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <div class="space"></div>
        <button mat-raised-button color="primary">Copy</button>
    </div>
</form>