.example-form {
    padding-top: 20px;
    width: 90%;
    margin-left: 40px;
}
  
.example-full-width {
    width: 90%;
}
.mat-icon{
    cursor: pointer;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color:#b3b3b3;
}
h3{
    font-weight: bold;
}
.footer{
    margin-top: 30px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.space{
    width: 80px;
    height: auto;
}